*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
.DS_Store
.venv/
venv/
*.huf
*.lzw
/*.pdf
/*.docx
!slides/*.pdf
article/modelosparapublicaodeartigos/
article/sbc-template.aux
article/sbc-template.bbl
article/sbc-template.blg
article/sbc-template.dvi
article/sbc-template.log
